/DevBlah.MefIntro.Contracts/bin
/DevBlah.MefIntro.Contracts/obj
/DevBlah.MefIntro.Encoder.Base64/bin
/DevBlah.MefIntro.Encoder.Base64/obj
/DevBlah.MefIntro.Encoder.Blah/bin
/DevBlah.MefIntro.Encoder.Blah/obj
/DevBlah.MefIntro.MainApp/bin
/DevBlah.MefIntro.MainApp/obj
/DevBlah.MefIntro.v12.suo
/DevBlah.MefIntro.sln.DotSettings.user
